<h1>Data Driven Component</h1>

<h1>Data Driven</h1>

<form [formGroup]="myForm" (submit)="onSubmit()">
  <div formGroupName="userData">
      <div class="form-group">
          <label for="username">Username</label>
          <input type="text"
                class="form-control"
                id="username"
                name="username"
                formControlName = "username"
          >
          <small *ngIf="!myForm.controls['userData'].controls['username'].valid">User Already Exists!!</small>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text"
                  class="form-control"
                  id="email"
                  name="email"
                  formControlName = "email"
            />
            <small *ngIf="!myForm.controls['userData'].controls['email'].valid">Invalid Email!!</small>
          </div>
         
  </div>
    

     
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
              class="form-control"
              id="password"
              name="password"
              formControlName = "password"
        >
        <small *ngIf="!myForm.controls['password'].valid">Invalid Password!!</small>
      </div>

      <div class="form-group">
          <label for="age">Age</label>
          <input type="number"
                class="form-control"
                id="age"
                name="age"
                formControlName = "age"
          >
          <small *ngIf="!myForm.controls['age'].valid">Invalid Age!!</small>
        </div>

      <div class="form-group" *ngFor="let gender of genders">
          <label>{{gender}}
          <input type="radio"
                class="form-control"
                [value]="gender"
                formControlName = "gender"
          >
        </label>

        

        </div>
  

    <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
<form>
