

<h1>Add Course</h1>


<h4>{{message}}</h4>

<form [formGroup]="myForm" (submit)="onSubmit()">
  <div formGroupName="course">
      <div class="form-group">
          <label for="title">Title</label>
          <input type="text"
                class="form-control"
                id="title"
                name="title"
                formControlName = "title"
          >
          <small *ngIf="!myForm.controls['course'].controls['title'].valid">Title is required!!</small>
        </div>
        <div class="form-group">
            <label for="summary">Summary</label>
            <input type="text"
                  class="form-control"
                  id="summary"
                  name="summary"
                  formControlName = "summary"
            />
            <small *ngIf="!myForm.controls['course'].controls['summary'].valid">Invalid Summary!!</small>
          </div>
         
  </div>
    

     

    <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Add Course</button>
<form>
